<html ng-app="demoApp">
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="demoEat.js"></script>
<script src="../eat.js"></script>
<script src="../core/core.js"></script>
<script src="../components/components.js"></script>
<script src="../components/group/group.js"></script>
<script src="../components/group/fast.js"></script>
<script src="../components/memorableDate/memorableDate.js"></script>
<link rel="stylesheet" href="../style/style.css">
<body>

<div ng-controller="appController as vm">
    <h2>Register</h2>
    <p>{{vm.message}}</p>
    
    <script type="text/ng-template" id="eat-error-messages">
        <div ng-message="required">This field is required</div>
        <div ng-message="minlength">This field is too short</div>
        <div ng-message="min">This field is too short</div>
    </script>
    
    <form ng-submit="vm.submit()" novalidate="novalidate">
        <eat-group>
            <label>Name</label>
            <input type='text' minlength="2" required ng-model="vm.user.name"/>
            <eat-help>Your fullname</eat-help>
            <eat-messages />
        </eat-group>
        <br/>
        
        <eat-group-fast 
            input='email' 
            ng-model="vm.user.email" 
            label='Your email' 
            help='Optional, we are not spamming, promise!'>
        </eat-group-fast>
        
        <br/>
        <eat-group>
            <label>Your telephone</label>
            <input type="tel" required ng-model="vm.user.mobile"/>
            <eat-help>For example: 07456639814</eat-help>
            <div ng-messages="projectForm.clientName.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </eat-group>
        
        <br/>
        <eat-group-fast 
            input='eat-memorable-date'
            required="required"
            ng-model="vm.user.birthday" 
            label='Your birthday' 
            help='For example: 28 2 1976'>
        </eat-group-fast>
        
        <br/>
        <eat-group>
            <label>What option you choose</label>
            <select required ng-model="vm.user.option">
                <option>uno</option>
            </select>
            <eat-help>For example: uno</eat-help>
        </eat-group>
        
        <eat-group-fast 
            input='number'
            ng-model="vm.user.childrenCount"
            ng-change="vm.updateChildren()"
            label='Children count'>
        </eat-group-fast>
        
        <div ng-repeat="c in vm.user.children">
            <eat-group-fast 
                label="Child {{$index+1}}"
                input='text' 
                required='required' 
                ng-model='c.name'
                help="Name your child">
            </eat-group-fast>
        </div>
        
         <br/> <br/> <br/>
    <button type="submit">Submit</button>
    </form>
    
    <div class="debug">
        object:{{vm.user}}
    </div>
</div>


</body>
</html>