.eat-group{
   display: block;
}

.eat-group-required label:after
{
     content:"*"
}
.eat-group-invalid{
    color:red;
}

.eat-group-focused{
    background-color: lightslategray;
}

.eat-group-valid{
    color:green;
}

.eat-label{
    display:block;
    padding:5px;
    
}
.eat-group .eat-input{
    display:block;
}
.eat-input-buffet .eat-input{
    display: inline-table;
}

.eat-help{
    color: darkslategrey;
    font-size:0.9em;
    padding:5px;
    display: block;
}