<html ng-app="demoApp">
<head>
    <title></title>
    <meta charset="utf-8"/>

    <!-- angular-eat dependencies -->
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-messages.js"></script>
    <script type="text/javascript" src="../dist/angular-eat.js"></script>
    <link rel="stylesheet" href="../dist/style.css">
    <link id="material-css" disabled="true" rel="stylesheet" href="../dist/material.css">
    
    <script type="text/javascript" src="vendor/rainbow.js"></script>
    <link rel="stylesheet" href="vendor/rainbow.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    
    <!--code needed for the demo page, internal -->
    <link rel="stylesheet" href="style/demo.css">
    <script type="text/javascript" src="demo.js"></script>
        
    <script type="text/ng-template" id="eat-error-messages">
        <div ng-message="required">This field is required</div>
        <div ng-message="minlength">This field is too short</div>
        <div ng-message="min">This field is too short</div>
    </script>
</head>
<body ng-controller="demo as vm">
    <span class='scroll-debug' scroll-position="vm.scroll"></span>
    <header>
        <div class="container">
            <div class="logo">
                <div class="pacman"></div> 
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <h1>angular-eat</h1>
            
        </div>
    </header>
    <div class="container">
            <div class="side-navigation">
                <div class="list-group" ng-class="{'fixed':vm.scroll > 127}">
                    <a href="#" ng-click="vm.switchMaterial()" class="list-group-item">{{!vm.isMaterial?'Switch to material':'Switch to normal'}}</a>
                    <a href="#section-text-input" class="list-group-item">Text Input</a>
                    <a href="#section-memorable-date-input" class="list-group-item">Memorable Dates Input</a>
                    <a href="#section-money-input" class="list-group-item">Money Input</a>
                    <a href="#section-date-input" class="list-group-item">Date Input</a>
                    <a href="#section-file-input" class="list-group-item">File Input</a>
                    <a href="#section-textarea" class="list-group-item">Textarea</a>
                </div>
            </div>
            <div class="main-content">
            
                <!-- TEXT INPUT -->
                <div class="section" id="section-text-input">
                    <h2>Text Input</h2>
                    <div class="demo-area">
                        <form>
                            <eat-group-fast
                                label="Some Label"
                                input="text"
                                required="required" 
                                ng-model="vm.textInput.model"
                                >
                            </eat-group-fast>
                            <br/>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
<!-- CODE -->
<pre><code class="html" format-html>
<form>
    <eat-group-fast label="Some Label" 
    input="text" required="required" ng-model="vm.textInput.model" help="Hint">
    </eat-group-fast>
    <button type="submit">Submit</button>
</form>
</code></pre>
<!-- CODE -->
vm.textInput.model = "{{vm.textInput.model}}";
formTextInput.textInput.$error = {{formTextInput.textInput.$error}};
                </div>
                
                <!-- MEMORABLE DATES INPUT -->
                <div class="section" id="section-memorable-date-input">
                    <h2>Memorable Date Input</h2>
                    <p>For capturing memorable dates like dates of birth, the simplest option is to provide text fields for users to type the date in.</p>
                    <div class="demo-area">
                        <form>
                            <eat-group-fast
                                label="Some Label"
                                input="eat-memorable-date"
                                required="required" 
                                ng-model="vm.memdate"
                                help="Hint">
                            </eat-group-fast>
                            <button type="submit">Submit</button>
                        </form>
                    </div>

                    <uib-tabset>
                        <uib-tab heading="Markup">
                            <!-- CODE -->
                            <pre><code class="html" format-html>
<form>
    <eat-group-fast
        label="Some Label"
        input="eat-memorable-date"
        required="required" 
        ng-model="vm.memdate"
        help="Hint">
    </eat-group-fast>
    <button type="submit">Submit</button>
</form>
                    </code></pre>
                            <!-- CODE -->
                        </uib-tab>
                        <uib-tab heading="Javascript">
                            <!-- CODE -->
                            <pre><code class="javascript">
vm.memdate = {{vm.memdate}}

                                                                     
                    </code></pre>
                            <!-- CODE -->
                        </uib-tab>
                    </uib-tabset>
                </div>


                <!-- MONEY INPUT -->
                <div class="section" id="section-money-input">
                    <h2>Money Input</h2>
                    <div class="demo-area">
                        <form>
                             <eat-group-fast
                                label="Some Label"
                                input="eat-money"
                                required="required" 
                                ng-model="vm.money"
                                help="Hint">
                            </eat-group-fast>
                            <button type="submit">Submit</button>
                        </form>
                    </div>

                    <uib-tabset>
                        <uib-tab heading="Markup">
                            <!-- CODE -->
                            <pre><code class="html" format-html>
<form>
    <eat-group-fast
        label="Some Label"
        input="eat-money"
        required="required" 
        ng-model="vm.money"
        help="Hint">
    </eat-group-fast>
</form>{{vm.money}}
                    </code></pre>
                            <!-- CODE -->
                        </uib-tab>
                        <uib-tab heading="Javascript">
                            <!-- CODE -->
                            <pre><code class="javascript" >
vm.money = "{{vm.money}}";
                    </code></pre>
                            <!-- CODE -->
                        </uib-tab>
                    </uib-tabset>
                </div>


                <!-- DATE INPUT -->
                <div class="section" id="section-date-input">
                <h2>Date Input</h2>
                <div class="demo-area">
                    <form>
                        <div ipg-input-container>
                            <label>Some Label</label>
                            <input type="text" required="required" ng-model="vm.textInput.model"/>
                            <span class="help-block">Hint</span>
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>

                <uib-tabset>
                    <uib-tab heading="Markup">
                        <!-- CODE -->
                        <pre><code class="html" format-html>
<form>
    <div ipg-input-container>
        <label>Some Label</label>
        <input type="text" required="required" ng-model="vm.textInput.model" />
        <span>Hint</span>
    </div>
    <button type="submit">Submit</button>
</form>
                    </code></pre>
                        <!-- CODE -->
                    </uib-tab>
                    <uib-tab heading="Javascript">
                        <!-- CODE -->
                        <pre><code class="html" format-html>
//nothing
                    </code></pre>
                        <!-- CODE -->
                    </uib-tab>
                </uib-tabset>
            </div>


                


                <!-- FILE INPUT -->
                <div class="section" id="section-file-input">
                    <h2>File Input</h2>
                    <div class="demo-area">
                        <form>
                            <div ipg-input-container>
                                <label>File to upload</label>
                                <input type="file" ngf-select required="required" ng-model="vm.fileInput.model"></input>
                                <span  class="help-block">Maximum size: 2Mb</span>
                            </div>
                            <button type="submit">Submit</button>
                        </form>
                    </div>

                    <uib-tabset>
                        <uib-tab heading="Markup">
                            <!-- CODE -->
                            <pre><code class="html" format-html>
<form>
    <div ipg-input-container>
        <label>File to upload</label>
        <input type="file" required="required" ng-model="vm.fileInput.model" />
        <span>Maximum size: 2Mb</span>
    </div>
    <button type="submit">Submit</button>
</form>
                    </code></pre>
                            <!-- CODE -->
                        </uib-tab>
                        <uib-tab heading="Javascript">
                            <!-- CODE -->
                            <pre><code class="html" format-html>
//nothing
                    </code></pre>
                            <!-- CODE -->
                        </uib-tab>
                    </uib-tabset>
                </div>


                <!-- TEXTAREA -->
                <div class="section" id="section-textarea">
                    <h2>Textarea</h2>
                    <div class="demo-area">
                        <form>
                            <div ipg-input-container>
                                <label>File to upload</label>
                                <textarea required="required" ng-model="vm.fileInput.model"></textarea>
                                <span  class="help-block">Maximum character: 500</span>
                            </div>
                            <button type="submit">Submit</button>
                        </form>
                        <ul>
                            <li>All properties of an input</li>
                        </ul>
                    </div>

                    <uib-tabset>
                        <uib-tab heading="Markup">
                            <!-- CODE -->
                            <pre><code class="html" format-html>
<form>
    <div ipg-input-container>
        <label>File to upload</label>
        <textarea required="required" ng-model="vm.fileInput.model"></textarea>
        <span>Maximum character: 500</span>
    </div>
    <button type="submit">Submit</button>
</form>
                    </code></pre>
                            <!-- CODE -->
                        </uib-tab>
                        <uib-tab heading="Javascript">
                            <!-- CODE -->
                            <pre><code class="html" format-html>
//nothing
                    </code></pre>
                            <!-- CODE -->
                        </uib-tab>
                    </uib-tabset>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
